{% extends "base.html" %}
{% block main %}
<div class="container">
    <h2>Add new tshirt</h2>
    <form action="/tshirt/add" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="eg. Amit">
        </div>
        <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input type="number" class="form-control" id="quantity" name="quantity" value="1">
        </div>
        <div class="mb-3">
            <label for="size" class="form-label">Size</label>
            <input type="number" class="form-control" id="size" name="size" value="40">
        </div>
        <div class="mb-3">
            <label for="notes" class="form-label">Notes</label>
            <input type="text" class="form-control" id="notes" name="notes" placeholder="Notes(Optional)">
        </div>
        <div class="mb-3">
            <label for="payment" class="form-label">Payment</label>
            <input type="number" class="form-control" id="payment" name="payment" value="200">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>
    </form>
</div>
{% endblock %}